.portfolio {
    background: $background-grey;
    padding: 32px 0 188px;
        @include media ('<1320px'){
            padding: 32px 40px 140px;
    }
}

.portfolio-title-block {
    margin: 0 0 30px;
    text-align: center;
}

.portfolio-title {
    color: #616161;
}

.portfolio-title-txt {
    color: #61af66;
    font-size: 21px;
    letter-spacing: 1px;
}

.portfolio-list-wrapper {
    position: relative;
}

.portfolio-prev-arrow {
    position: absolute;
    left: 0;
    top: 25%;
    .chevron-left {
        width: 18px;
        height: 18px;
        border-left: 4px solid #61af66;
        border-bottom: 4px solid #61af66;
        transform: rotate(45deg);
    }
}

.portfolio-next-arrow {
    position: absolute;
    right: 0;
    top: 25%;
    .chevron-right {
        width: 18px;
        height: 18px;
        border-right: 4px solid #61af66;
        border-bottom: 4px solid #61af66;
        transform: rotate(315deg);
    }
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -25px 20px;

    @include media ('<=1245px') {
        padding: 0 30px;
    }
    @include media ('>=tablet', '<desktop') {
        margin: 0 -10px 20px;
        justify-content: space-around;
    }
}

.portfolio-item a {
    display: block;
    text-decoration: none;
}

.portfolio-item {
    width: calc(25% - 50px);
    margin: 0 25px 20px;
    text-align: center;

    @include media ('>=tablet', '<=desktop') {
        width: calc(33.3333% - 20px);
        margin: 0 10px 20px;
    }
}

.portfolio-img {
    width: 100%;
    margin: 0 0 24px;
}

.portfolio-sign {
    font-size: 21px;
    color: $base-color;
}

.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    li {
        display: inline-block;
        margin: 0 0 0 12px;
        text-indent: -9999px;
        background: #616161;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
    }
    .slick-active{
            background: #61af66;
        }
    button {
        border: 0;
        padding: 0;
    }
}
