.tweets {
    background: $background-red;
    color: #fff;
    padding: 30px 0 18px;
}

.tweets-wrapper {
    position: relative;
}

.tweets-slider {
    position: static;
    padding: 0 46px;
}

.tweets-prev-arrow {
    position: absolute;
    left: 0;
    top: 42%;
    background: #000;
    border-radius: 50%;
    padding: 13px 14px;
    height: 36px;
    width: 36px;
    cursor: pointer;
    .chevron-left {
        width: 10px;
        height: 10px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(45deg);
    }
}

.tweets-next-arrow {
    position: absolute;
    right: 0;
    top: 42%;
    background: #000;
    border-radius: 50%;
    padding: 13px 11px;
    height: 36px;
    width: 36px;
    cursor: pointer;
    .chevron-right {
        width: 10px;
        height: 10px;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(315deg);
    }
}

.tweets-title-block {
    text-align: center;
    margin: 0 0 20px;
}

.tweets-title-txt {
    font-size: 20px;
    letter-spacing: 1px;
    color: $base-color;
}

.twitter-ico {
    text-align: center;
    margin: 0 0 18px;
}

.twitter-ico [class^="icon-"] {
    font-size: 36px;
}

.twitter-txt {
    font-size: 21px;
    line-height: 30px;

    a {
        color: #1f1f20;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
