.socials {
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
        display: inline-block;
        margin: 0 0 0 5px;

        a {
            color: $base-title-color;
            text-decoration: none;
            background: $background-red;
            border-radius: 2px;
            display: block;
            line-height: 32px;
            text-align: center;
            width: 28px;
            height: 28px;
            &:hover {
                background: mix(black, $background-red, 20%);
            }
        }
    }
}
